
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Вход</title>

</head>

<body>

<main>
    <h2>Закреплённые сообщения</h2>
    <div th:each="el : ${pinned_discussions}">
        <h2 th:text="${el.title}"/>
        <p th:text="'Автор: ' + ${el.author}"/>
        <p th:text="'Дата создания: ' + ${#dates.format(el.date, 'hh:mm dd MMM yyyy')}"/>
        <p th:text="'Последнее обновление: ' + ${#dates.format(el.last_update, 'hh:mm dd MMM yyyy')}"/>
    </div>
    <h2>Остальные сообщения</h2>
    <div th:each="el : ${discussions}">
        <h2 th:text="${el.title}"/>
        <p th:text="'Автор: ' + ${el.author}"/>
        <p th:text="'Дата создания: ' + ${#dates.format(el.date, 'hh:mm dd MMM yyyy')}"/>
        <p th:text="'Последнее обновление: ' + ${#dates.format(el.last_update, 'hh:mm dd MMM yyyy')}"/>
    </div>
</main>





</body>
</html>