<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Новая тема</title>



</head>

<body>

<main>

    <form th:action="/forum/new" method="post">
        <h1>Пожалуйста, введите данные новой темы</h1>

        <div>
            <input type="text" name="title" id="title" size="3" maxlength="15" required placeholder="Новая тема">
            <label for="title">Титул</label>
        </div>
        <div>
            <input type="text" name="description" id="description" placeholder="Описание">
            <label for="description">Описание</label>
        </div>

        <button type="submit">Создать тему</button>

        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <p>© 2022</p>
    </form>
</main>





</body>
</html>